// 1. Your custom variables and variable overwrites.
$global-background:                              #221F28;
$global-secondary-background:                    #3d3f45;
$global-primary-background:                      #4756B5;
$table-row-active-background: 					 #DCF763;
$global-muted-color: 							 #f9f9fa;
$global-color:                                   #f9f9fa;
$global-link-color:                              #f9f9fa;
$global-link-hover-color:                        #f9f9fa;
$global-inverse-color:                           #f9f9fa;
$global-emphasis-color: 						 #f9f9fa;


// 2. Import default variables and available mixins.
@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
//@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "~uikit/src/scss/uikit-theme.scss";