.white-space-pre {
  white-space: pre-line;
}

.cursor-pointer{
	cursor:pointer;
}

.white-bg{
	background-color: #fff;
}

.right-line{
	border-bottom: 1px solid white;
    padding-left: 10rem;
}

.p-20{
	padding-left: 20px;
}

@media screen and (max-width: 495px) {
  .right-line {
    margin-top:10px;
  }
}

.uk-card-title{
	overflow-wrap: break-word;
}

.header-spacing{
	letter-spacing: 4px;
}

.youtube-embed{
	position: fixed;
    top: 17vh;
    right: 19%;
}

@media screen and (max-width: 768px) {
  .youtube-embed {
    display:none;
  }
}

#sidenav .uk-nav .material-icons{
  position:relative;
  top:2px;
}

#sidenav .uk-nav li{
  opacity: 0.6;
  transition: 0.3s;
}

#sidenav .uk-nav li:hover{
  opacity: 1;
  background-color:#595c67;
}

.uk-link, .uk-table a, .categories h3, .uk-navbar-toggle{
  transition: 0.3s;
}

.categories h4{
  color:#ffa600 !important;
}

.uk-active a{
  color:#ffa600 !important;
}

.uk-link:hover, .uk-navbar-toggle:hover, .uk-table a:hover, .categories h3:hover, #sidenav .uk-nav li:hover .material-icons{
  color:#ffa600 !important;
}



::selection {
  background: #ffa60075; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffa60075; /* Gecko Browsers */
}