.white-space-pre {
  white-space: pre-line;
}

.cursor-pointer{
	cursor:pointer;
}

.white-bg{
	background-color: #fff;
}

.right-line{
	border-bottom: 1px solid white;
    padding-left: 10rem;
}

.p-20{
	padding-left: 20px;
}

@media screen and (max-width: 495px) {
  .right-line {
    margin-top:10px;
  }
}

.uk-card-title{
	overflow-wrap: break-word;
}

.header-spacing{
	letter-spacing: 4px;
}