//
// Colors
//
$text-primary-color: #435058;
$global-color:                                   #666;
$global-emphasis-color:                          #333;
$global-muted-color:                             #999;

$global-link-color:                              #1e87f0;
$global-link-hover-color:                        #0f6ecd;

$global-inverse-color:                           #fff;

//
// Backgrounds
//

$global-background:                              #fff;

$global-muted-background:                        #f8f8f8;
$global-primary-background:                      #435058;
$global-secondary-background:                    #DA7D02;

$global-success-background:                      #32d296;
$global-warning-background:                      #faa05a;
$global-danger-background:                       #f0506e;